{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <style>
        .container {
            display: flex;
            gap: 30px;
            justify-content: center;
        }

        .card-client {
            max-height: fit-content;
        }

        .commande a , .btn-modifier{
            color: white;
            text-decoration: none;
        }

        .commande a:hover, btn-modifier:hover {
            color: #00d4a8;
            text-shadow: 0 0 10px #00d4a8, 0 0 20px #00d4a8;
        }

    </style>

    <div class="container">
        <turbo-frame id="user_{{ user.id }}">
            {% if editing is not defined or not editing %}
                <div class="card-client">
                    <div class="user-picture">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                        </svg>
                    </div>
                    <p class="name-client"> {{ user.prenom }} {{ user.nom }}
                        <span>{{ user.email }}</span>
                    </p>
                    <p>{{ user.adresse }}</p>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" data-turbo-frame="user_{{ user.id }}">Modifier</a>
                </div>
            {% else %}
                {{ form_start(form, { 'action': path('app_user_edit', { id: user.id }), 'data-turbo-frame': "user_#{user.id}" }) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.adresse) }}
                <button class="btn-modifier" type="submit" data-turbo="false">Enregistrer</button>
                {{ form_end(form) }}
            {% endif %}
        </turbo-frame>



        <div class="commande">
            <div>
                <h4>Commandes</h4>
                <table>
                    <tr>
                        <td>N°Commande</td>
                        <td>Prix</td>
                    </tr>
                    {% for commande in commandes %}
                        <tr>
                            <td><a href="{{ path('app_commande_show', {'id': commande.id}) }}">{{ commande.numero }}</a>
                            </td>
                            <td>{{ commande.prix }}€</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
