{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

    <style>
        .container {
            display: flex;
            gap: 30px;
            justify-content: center;
        }

        .card-client {
            max-height: fit-content;
        }

        .commande a , .btn-modifier{
            color: white;
            text-decoration: none;
        }

        .commande a:hover, btn-modifier:hover {
            color: #00d4a8;
            text-shadow: 0 0 10px #00d4a8, 0 0 20px #00d4a8;
        }

    </style>

    <div class="container">
        <turbo-frame id="user_{{ user.id }}">
            {% if editing is not defined or not editing %}
                <div class="card-client">
                    <div class="user-picture">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M224 256c70.7 0 128-57.31 128-128s-57.3-128-128-128C153.3 0 96 57.31 96 128S153.3 256 224 256zM274.7 304H173.3C77.61 304 0 381.6 0 477.3c0 19.14 15.52 34.67 34.66 34.67h378.7C432.5 512 448 496.5 448 477.3C448 381.6 370.4 304 274.7 304z"></path>
                        </svg>
                    </div>
                    <p class="name-client"> {{ user.prenom }} {{ user.nom }}
                        <span>{{ user.email }}</span>
                    </p>
                    <p>{{ user.adresse }}</p>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" data-turbo-frame="user_{{ user.id }}">Modifier</a>
                </div>
            {% else %}
                <div class="card shadow-sm rounded-4 mb-4">
                    <div class="card-header bg-primary text-white rounded-top-4">
                        <h5 class="mb-0">Modifier l'utilisateur</h5>
                    </div>
                    <div class="card-body">

                        {{ form_start(form, {
                            'action': path('app_user_edit', { id: user.id }),
                            'attr': {
                                'data-turbo-frame': "user_#{user.id}",
                                'class': 'needs-validation',
                                'novalidate': 'novalidate'
                            }
                        }) }}

                        <div class="row mb-3">
                            <div class="col-md-6">
                                {{ form_row(form.prenom, {'label': 'Prénom'}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.nom, {'label': 'Nom'}) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.email, {'label': 'Email'}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.password, {'label': 'Mot de passe'}) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.adresse, {'label': 'Adresse'}) }}
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-success" type="submit" data-turbo="false">💾 Enregistrer</button>
                        </div>

                        {{ form_end(form) }}
                    </div>
                </div>

            {% endif %}
        </turbo-frame>



        <div class="commande">
            <div>
                <h4>Commandes</h4>
                <table>
                    <tr>
                        <td>N°Commande</td>
                        <td>Prix</td>
                    </tr>
                    {% for commande in commandes %}
                        <tr>
                            <td><a href="{{ path('app_commande_show', {'id': commande.id}) }}">{{ commande.numero }}</a>
                            </td>
                            <td>{{ commande.prix }}€</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
